# --- CONNECTION ---
MUMBLE_SERVER_IP=127.0.0.1
MUMBLE_SERVER_PORT=64738
MUMBLE_BOT_USERNAME=Obama
MUMBLE_PASSWORD=your_mumble_password
MUMBLE_TARGET_CHANNEL=General
MUMBLE_IGNORED_USERS=YoMusicBot
MUMBLE_RECONNECT_DELAY=5

# --- JELLYFIN ---
JELLYFIN_BASE_URL=http://127.0.0.1:8096
JELLYFIN_USERNAME=your_username
JELLYFIN_PASSWORD=your_password
JELLYFIN_API_KEY=your_api_key

# --- PATHS ---
LLM_MODEL_PATH=models/gemma-4-9b-it-q4_k_m.gguf
LLM_PROMPT_FORMAT=gemma
LLM_DISABLE_THINKING=True


# --- AI CONFIG ---
WHISPER_DEVICE=cuda
WHISPER_COMPUTE=float16
WHISPER_LANGUAGE=fi
LLM_CONTEXT_SIZE=2000
LLM_GPU_LAYERS=-1
MEMORY_ENABLED=True

# --- API CONFIG ---
START_LLM_API_WITH_BOT=True
START_VOICE_API_WITH_BOT=True
LLM_API_PORT=8080
VOICE_API_PORT=8081
